.queriesPage {
  display: flex;
  flex-direction: column;
}

.queriesPage_bottom {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 0px 30px;
}

.queriesPage_bottom_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.queriesPage_bottom_right {
  flex: 0.8;
  padding: 10px;
  text-align: center;
  height: max-content;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  font-size: 18px;
  width: 70%;
}

/* desc */

.querie_desc_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.q_desc_top_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items: center; */
  padding: 5px 10px;
}

.queryNo {
  margin-right: 10px;
}

.q_desc_bottom_top {
  display: flex;
  padding: 0px 10px;
  /* justify-content: space-between; */
  margin: 10px 0px;
}

.createdAt,
.assignedTo {
  flex: 1;
  text-align: left;
}

.description {
  text-align: left;
  padding: 0px 10px;
}

hr {
  margin: 10px 0px;
  /* height: 1px; */
  border: 0.1px solid rgb(227, 227, 227);
  /* width: 2px; */
}

.queryMapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 80vh;
  /* border: 2px solid red; */
}

.queriesPage_middle {
  display: flex;
  align-items: center;
  /* height: 60px; */
  background-color: #3e9eca24;
  padding-left: 30px;
}

.createQueryBtn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #3e9eca84;
  font-size: 18px;
  background-color: white;
  /* height: 50px; */
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .queriesPage_bottom {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 0px 5px !important;
  }

  .queriesPage_bottom_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .queriesPage_middle {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #3e9eca24;
    padding-left: 8px !important;
  }
  /* .queriesPage_middle > button {
    height: 40px;
  } */
}
